.badge {
  display: inline-flex;
  align-items: center;
  border-radius: var(--ds-badge-borderRadius, var(--ds-radius-pill));
  height: var(--ds-badge-height, var(--ds-size-dimension-m));
  padding: var(--ds-badge-padding, 0 var(--ds-spacing-s));
  font-family: var(--ds-font-family-mono);

  .badgeText {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 160px; /* TODO tokenize this? */
  }

  &.neutral {
    background-color: var(--ds-badge-neutral-backgroundColor, var(--ds-color-background-alt-200));
    color: var(--ds-badge-neutral-color, var(--ds-color-text));
  }

  &.neutral.subtle {
    background-color: var(--ds-badge-neutral-subtle-backgroundColor, var(--ds-color-background-alt-100));
    color: var(--ds-badge-neutral-subtle-color, var(--ds-color-text));
  }

  &.success {
    background-color: var(--ds-badge-success-backgroundColor, var(--ds-color-success-500));
    color: var(--ds-badge-success-color, var(--ds-color-success-700));
  }

  &.success.subtle {
    background-color: var(--ds-badge-success-subtle-backgroundColor, var(--ds-color-success-200));
    color: var(--ds-badge-success-subtle-color, var(--ds-color-success-700));
  }

  &.error {
    background-color: var(--ds-badge-error-backgroundColor, var(--ds-color-destructive-500));
    color: var(--ds-badge-error-color, var(--ds-color-white));
  }

  &.error.subtle {
    background-color: var(--ds-badge-error-subtle-backgroundColor, var(--ds-color-error-200));
    color: var(--ds-badge-error-subtle-color, var(--ds-color-error-700));
  }

  &.information {
    background-color: var(--ds-badge-information-backgroundColor, var(--ds-color-information-500));
    color: var(--ds-badge-information-color, var(--ds-color-white));
  }

  &.information.subtle {
    background-color: var(--ds-badge-information-subtle-backgroundColor, var(--ds-color-information-200));
    color: var(--ds-badge-information-subtle-color, var(--ds-color-information-700));
  }

  &.warning {
    background-color: var(--ds-badge-warning-backgroundColor, var(--ds-color-warning-500));
    color: var(--ds-badge-warning-color, var(--ds-color-warning-700));
  }

  &.warning.subtle {
    background-color: var(--ds-badge-warning-subtle-backgroundColor, var(--ds-color-warning-200));
    color: var(--ds-badge-warning-subtle-color, var(--ds-color-warning-700));
  }
}
