.avatar {
  border-radius: var(--ds-avatar-borderRadius, var(--ds-radius-pill));
  user-select: none;
}

.loading {
  background: var(--ds-avatar-loading-backgroundColor, var(--ds-color-state-loading-background));
  color: transparent;

  img {
    opacity: 0;
  }
}

.tiny {
  width: var(--ds-avatar-tiny-width, var(--ds-size-dimension-m));
  height: var(--ds-avatar-tiny-width, var(--ds-size-dimension-m));
}

.small {
  width: var(--ds-avatar-small-width, var(--ds-size-dimension-xl));
  height: var(--ds-avatar-tiny-width, var(--ds-size-dimension-xl));
}

.medium {
  width: var(--ds-avatar-medium-width, var(--ds-size-dimension-xxl));
  height: var(--ds-avatar-tiny-width, var(--ds-size-dimension-xxl));
}

.large {
  width: var(--ds-avatar-large-width, var(--ds-size-dimension-xxxl));
  height: var(--ds-avatar-tiny-width, var(--ds-size-dimension-xxxl));
}

.fluid {
  width: 100%;
}
