.image {
  display: block;
  vertical-align: middle;
  border-style: none;
}

.tiny {
  width: var(--ds-image-tiny-width, calc(var(--ds-size-dimension) * 8));
}

.small {
  width: var(--ds-image-small-width, calc(var(--ds-size-dimension) * 16));
}

.medium {
  width: var(--ds-image-medium-width, calc(var(--ds-size-dimension) * 32));
}

.large {
  width: var(--ds-image-large-width, calc(var(--ds-size-dimension) * 64));
}

.extraLarge {
  width: var(--ds-image-extraLarge-width, calc(var(--ds-size-dimension) * 128));
}

.jumbo {
  width: var(--ds-image-jumbo-width, calc(var(--ds-size-dimension) * 256));
}

.fluid {
  height: auto;
  width: 100%;
}

.rounded {
  border-radius: var(--ds-image-rounded-borderRadius, var(--ds-radius-m));
}

.round {
  border-radius: 500rem;
}

.ratioOuter {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;

  &.rounded {
    border-radius: var(--ds-image-rounded-borderRadius, var(--ds-radius-small));
  }
}

.ratioInner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.square,
.portrait,
.landscape {
  /* IE11 styles */
  .image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* modern browser style resets */
@supports (object-fit: contain) and (object-fit: cover) {
  .contain,
  .cover {
    .image {
      /* reset IE11 styles */
      transform: none;
      position: static;

      /* modern browser styles */
      width: 100%;
      height: 100%;
    }
  }
}
/* modern browser styles */
@supports (object-fit: contain) {
  .contain {
    .image {
      /* modern browser styles */
      object-fit: contain;
    }
  }
}

/* modern browser styles */
@supports (object-fit: cover) {
  .cover {
    .image {
      /* modern browser styles */
      object-fit: cover;
    }
  }
}

.square {
  padding-bottom: 100%;
}

.portrait {
  padding-bottom: 133%;
}

.landscape {
  padding-bottom: 75%;
}
