:root {

	// ______ CORE ______


  // COLOR

  // Primary
  --ds-color-primary: #00FFBA;

  // Neutrals
  --ds-color-neutral-50: #f2f7fa;
  --ds-color-neutral-100: #e0e9ee;
  --ds-color-neutral-200: #c9d4da;
  --ds-color-neutral-300: #7d929e;
  --ds-color-neutral-400: #4d6471;
  --ds-color-neutral-500: #3a4e5a;
  --ds-color-neutral-600: #213846;
  --ds-color-neutral-700: #14252f;
  --ds-color-neutral-800: #101d25;
  --ds-color-neutral-900: #0a161d;

  // Success
  --ds-color-success-100: #dbeae8;
  --ds-color-success-200: #b5d2ce;
  --ds-color-success-500: #47CCCC;
  --ds-color-success-600: #37b5b5;
  --ds-color-success-700: #154f50;

  // Information
  --ds-color-information-100: #EBF3FE;
  --ds-color-information-200: #8CB9FB;
  --ds-color-information-500: #2D7FF9;
  --ds-color-information-600: #2568CC;
  --ds-color-information-700: #3b2871;

  // Warning
  --ds-color-warning-100: #fff4eb;
  --ds-color-warning-200: #ffd6ae;
  --ds-color-warning-500: #FFB266;
  --ds-color-warning-600: #e8a15b;
  --ds-color-warning-700: #653e18;

  // Error
  --ds-color-destructive-100: #FCEDF1;
  --ds-color-destructive-200: #ffc3c3;
  --ds-color-destructive-500: #e62c4c;
  --ds-color-destructive-600: #ca2c54;
  --ds-color-destructive-700: #3F111C;

  --ds-color-black: #000000;
  --ds-color-white: #FFFFFF;


  // FONTS

  // Family
  --ds-font-family: Inter, -apple-system, BlinkMacSystemFont, Roboto, Segue UI, Arial, sans-serif;
  --ds-font-family-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  // Weight
  --ds-font-weight-normal: normal;
  --ds-font-weight-bold: bold;
  --ds-font-weight-display1: var(--ds-font-weight-bold);
  --ds-font-weight-display2: var(--ds-font-weight-bold);
  --ds-font-weight-display3: var(--ds-font-weight-bold);
  --ds-font-weight-display4: var(--ds-font-weight-normal);
  --ds-font-weight-display5: var(--ds-font-weight-bold);
  --ds-font-weight-display6: var(--ds-font-weight-bold);
  --ds-font-weight-body: var(--ds-font-weight-normal);
  --ds-font-weight-body2: var(--ds-font-weight-normal);
  --ds-font-weight-caption: var(--ds-font-weight-normal);

  // Size
  --ds-font-size-display1: 36px;
  --ds-font-size-display2: 28px;
  --ds-font-size-display3: 22px;
  --ds-font-size-display4: 22px;
  --ds-font-size-display5: 18px;
  --ds-font-size-display6: 16px;
  --ds-font-size-body: 18px;
  --ds-font-size-body2: 16px;
  --ds-font-size-caption: 14px;

  // Line-Height
  --ds-line-height-display1: 48px;
  --ds-line-height-display2: 32px;
  --ds-line-height-display3: 30px;
  --ds-line-height-display4: 30px;
  --ds-line-height-display5: 26px;
  --ds-line-height-display6: 24px;
  --ds-line-height-body: 26px;
  --ds-line-height-body2: 24px;
  --ds-line-height-caption: 16px;


  // SHAPE
	--ds-radius-s: 4px;
	--ds-radius-m: 8px;
  --ds-radius-pill: 2000vw;

  --ds-spacing-xxxs: 2px;
  --ds-spacing-xxs: 4px;
  --ds-spacing-xs: 8px;
  --ds-spacing-s: 12px;
  --ds-spacing-m: 16px;
  --ds-spacing-l: 24px;
  --ds-spacing-xl: 32px;
  --ds-spacing-xxl: 48px;
  --ds-spacing-xxxl: 64px;

  --ds-size-dimension: var(--ds-spacing-xxs);
  --ds-size-dimension-xxxs: var(--ds-size-dimension); // 4px
  --ds-size-dimension-xxs: calc(var(--ds-size-dimension) * 2); // 8px
  --ds-size-dimension-xs: calc(var(--ds-size-dimension) * 3); // 12px
  --ds-size-dimension-s: calc(var(--ds-size-dimension) * 4); // 16px
  --ds-size-dimension-m: calc(var(--ds-size-dimension) * 6); // 24px
  --ds-size-dimension-l: calc(var(--ds-size-dimension) * 8); // 32px
  --ds-size-dimension-xl: calc(var(--ds-size-dimension) * 10); // 40px
  --ds-size-dimension-xxl: calc(var(--ds-size-dimension) * 12); // 48px
  --ds-size-dimension-xxxl: calc(var(--ds-size-dimension) * 16); // 64px
  --ds-size-dimension-xxxxl: calc(var(--ds-size-dimension) * 24); // 96px


	// ______ SEMANTIC ______

  // TEXT
  --ds-color-text: var(--ds-color-neutral-50);
  --ds-color-text-inverse: var(--ds-color-neutral-900);
  --ds-color-text-muted: var(--ds-color-neutral-200);
  --ds-color-text-muted-inverse: var(--ds-color-neutral-100);


  // SHAPE
  --ds-border-width-small: 1px;
  --ds-border-width-medium: 2px;
  --ds-border-width-large: 4px;


  // BORDER
  --ds-color-border-weak: var(--ds-color-neutral-700);
  --ds-color-border: var(--ds-color-neutral-600);
  --ds-color-border-strong: var(--ds-color-neutral-500);


  // BACKGROUNDS

  // UI
  --ds-color-background-ui: var(--ds-color-neutral-900);
  --ds-color-background-ui-inverse: var(--ds-color-neutral-50);
  --ds-color-background-ui-medium: var(--ds-color-neutral-600);
  --ds-color-background-ui-high: var(--ds-color-neutral-400);

  // Alt
  --ds-color-background-alt-50: var(--ds-color-neutral-800);
  --ds-color-background-alt-100: var(--ds-color-neutral-700);
  --ds-color-background-alt-200: var(--ds-color-neutral-600);
  --ds-color-background-alt-500: var(--ds-color-neutral-500);

  // App
  --ds-color-background-app: var(--ds-color-white);
  --ds-color-background-app-dark: var(--ds-color-neutral-900);

  // Overlay
  --ds-color-background-overlay: rgba(11, 23, 30, 80%);


  // STATE

  // Hover
  --ds-color-state-hover-overlay: rgba(167, 225, 255, 0.1);
  --ds-color-state-hover-overlay-inverse: rgba(0,0,0,0.1);

  // Disabled
  --ds-color-state-disabled-text: var(--ds-color-neutral-300);
  --ds-color-state-disabled-background: var(--ds-color-background-alt-100);

  // Focus
  --ds-color-state-focus-border: var(--ds-color-information-500);

  // Loading
  --ds-color-state-loading-background: var(--ds-color-background-alt-200);


  // ELEVATION
  --ds-elevation-300: 0 1px 1px -1px rgba(0,0,0,.15), 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 4px 0 rgba(0,0,0,.1);
  --ds-elevation-500: 0 3px 4px -1px rgba(0,0,0,.15), 0 5px 10px 0 rgba(0,0,0,.1), 0 1px 12px 0 rgba(0,0,0,.1);
  --ds-elevation-700: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.1);


  // TRANSITION
  --ds-transition-fast: 150ms;
  --ds-transition-standard: 300ms;

}
