.outer {
  position: relative;
  cursor: pointer;
  color: inherit;
  border-radius: var(--ds-radius-m);

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--ds-radius-m);
    pointer-events: none;
    transform: scale(0.9);
    opacity: 0;
    box-shadow: 0 0 0 4px var(--ds-color-state-hover-overlay);
    background: var(--ds-color-state-hover-overlay);
    transition: all 300ms cubic-bezier(0.2, 1, 0.4, 1);
  }

  &:hover,
  &:focus {
    outline: none;
    box-shadow: none;
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
  &:focus {
    &:before {
      box-shadow: 0 0 0 2px var(--ds-color-state-focus-border);
    }
  }

  &:focus-within {
    &:before,
    &:hover &:before {
      box-shadow: 0 0 0 4px var(--ds-color-state-hover-overlay);
      transform: scale(0.9);
      opacity: 0;
    }
  }
}


.notAnimated {
  &:before {
    display: none;
  }
}

.active {
  &:before {
    display: block;
    transform: scale(1);
    opacity: 1;
  }
}

.inner {
  position: relative;
}

.transparent {
  &:before {
    background: none;
    top: calc(-1 * var(--ds-spacing-xxs));
    right: calc(-1 * var(--ds-spacing-xxs));
    bottom: calc(-1 * var(--ds-spacing-xxs));
    left: calc(-1 * var(--ds-spacing-xxs));
  }
}

.pill {
  border-radius: var(--ds-radius-pill);
  &:before {
    border-radius: var(--ds-radius-pill);
  }
}

* {
  text-decoration: none;
}
