.container {
  width: 100%;
}

.xxxsmall {
  max-width: var(--ds-page-section-small-maxWidth, 320px);
}

.xxsmall {
  max-width: var(--ds-page-section-small-maxWidth, 420px);
}

.xsmall {
  max-width: var(--ds-page-section-small-maxWidth, 720px);
}

.small {
  max-width: var(--ds-page-section-small-maxWidth, 1180px);
}

.medium {
  max-width: var(--ds-page-section-medium-maxWidth, 1600px);
}

.large {
  max-width: var(--ds-page-section-large-maxWidth, 1800px);
}

.xlarge {
  max-width: var(--ds-page-section-large-maxWidth, 2400px);
}

.fluid {
  max-width: 100%;
}
