.tooltip[data-reach-tooltip] {
  border-radius: var(--ds-radius-pill);
  background: var(--ds-color-background-ui-inverse);
  color: var(--ds-color-text-inverse);
  border: none;
  padding: var(--ds-spacing-xxs) var(--ds-spacing-xs);
  box-shadow: var(--ds-elevation-500);
  z-index: 1;
  pointer-events: none;
  position: absolute;
  white-space: nowrap;
}
