.dropdownItems {
  border-radius: var(--ds-radius-m);
  background: transparent;

  &:focus {
    border: none;
    outline: none;
  }
}

.dropdownItem {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  display: block;

  &:hover {
    background: var(--ds-color-state-hover-overlay);
  }
}

.large {
  width: 480px;
}

.medium {
  width: 320px;
}

.small {
  width: 240px;
}
