@import '../tokens/mixins.scss';

.text {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
  display: inline;
  max-width: 100%;
}

.display1 {
  @include textDisplay1();
}

.display2 {
  @include textDisplay2();
}

.display3 {
  @include textDisplay3();
}

.display4 {
  @include textDisplay4();
}

.display5 {
  @include textDisplay5();
}

.display6 {
  @include textDisplay6();
}

.body {
  @include textBody();

  &.muted {
    color: var(--ds-color-text-muted);
  }
}

.body2 {
  @include textBody2();

  &.muted {
    color: var(--ds-color-text-muted);
  }
}

.caption {
  @include textCaption();

  &.muted {
    color: var(--ds-color-text-muted);
  }
}

.loading {
  background: var(--ds-text-loading-background, var(--ds-color-state-loading-background));
  border-radius: var(--ds-text-loading-radius, var(--ds-radius-small));
  color: transparent;
}

.lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
