.card {
  background-color: var(--ds-card-backgroundColor, var(--ds-color-background-alt-50));
  border-radius: var(--ds-card-borderRadius, 0);
}

.elevationLow {
  background-color: var(--ds-card-backgroundColor, var(--ds-color-background-ui));
  box-shadow: var(--ds-card-elevationLow-boxShadow, var(--ds-elevation-300));
}

.elevationMedium {
  box-shadow: var(--ds-card-elevationMedium-boxShadow, var(--ds-elevation-500));
  background-color: var(--ds-card-medium-backgroundColor, var(--ds-color-background-ui-medium));
}

.elevationHigh {
  box-shadow: var(--ds-card-elevationHigh-boxShadow, var(--ds-elevation-700));
  background-color: var(--ds-card-high-backgroundColor, var(--ds-color-background-ui-high));
}

.fluid {
  width: 100%;
}

.rounded {
  border-radius: var(--ds-card-rounded-borderRadius, var(--ds-radius-m));
}

.overflowHidden {
  overflow: hidden;
}

.transparent {
  background: transparent;
  box-shadow: 0 0 0 transparent;
}

.clickable {
  cursor: pointer;
}

/*
 * Class names for styling relationship between card and children */

/* stylelint-disable */
.cardHeader { }
.cardBody { }
/* stylelint-enable */

.cardHeader + .cardHeader,
.cardBody + .cardHeader,
.cardBody + .cardBody,
.cardHeader + .cardBody {
  padding-top: 0;
}
