@import '../tokens/mixins.scss';

.input {
  color: var(--ds-color-text);
  background: var(--ds-color-background-ui);
  border: none;
  padding: 0 var(--ds-spacing-m);
  height: var(--ds-size-dimension-xxl);
  border-radius: var(--ds-radius-m);
  -webkit-appearance: none;

  @include textBody();

  &:active,
  &:focus {
    outline: 0;
    border-color: var(--ds-input-focus-borderColor, var(--ds-color-state-focus-border));
    box-shadow: var(--ds-input-focus-boxShadow, 0 0 0 2px var(--ds-color-state-focus-border));
  }

  &::placeholder {
    color: var(--ds-input-placeholder-color, var(--ds-color-text-muted));
    opacity: 1;
  }
}

.fluid {
  width: 100%;
}

.large {
  height: var(--ds-size-dimension-xxxl);
}
