.box {
  .flex {
    display: flex;
  }

  $displays: (
    "flex",
    "inline-flex",
    "block",
    "inline-block",
    "inline",
    "none",
  );

  @each $display in $displays {
    &.display-#{$display} {
      display: unquote($display);
    }
  }

  $paddings: (
    "padding" "padding",
    "paddingLeft" "padding-left",
    "paddingRight" "padding-right",
    "paddingTop" "padding-top",
    "paddingBottom" "padding-bottom",
  );

  $margins: (
    "margin" "margin",
    "marginLeft" "margin-left",
    "marginRight" "margin-right",
    "marginTop" "margin-top",
    "marginBottom" "margin-bottom",
  );

  $oldSizes: (
    "none": "0",
    'xxs': '025',
    'xs': '05',
    's': '075',
    'm': '1',
    'l': ('125', '15'),
    'xl': ('175', '2'),
  );

  $sizes: (
    "none" 0,
    "xxxs" "var(--ds-spacing-xxxs)",
    "xxs" "var(--ds-spacing-xxs)",
    "xs" "var(--ds-spacing-xs)",
    "s" "var(--ds-spacing-s)",
    "m" "var(--ds-spacing-m)",
    "l" "var(--ds-spacing-l)",
    "xl" "var(--ds-spacing-xl)",
    "xxl" "var(--ds-spacing-xxl)",
    "xxxl" "var(--ds-spacing-xxxl)",
  );

  @each $spacingName, $rule in $paddings {
    @each $name, $value in $sizes {
      @if map-has-key($oldSizes, $name) {
        $oldSizesForName: map-get($oldSizes, $name);
        $selectorList: unquote("&.#{$spacingName}-#{$oldSizesForName}");

        @if type-of($oldSizesForName) == 'list' {
          $selectorList: null;

          @each $oldSize in $oldSizesForName {
            $selectorList: append($selectorList, unquote("&.#{$spacingName}-#{$oldSize}"), comma);
          }
        }

        #{$selectorList},
        &.#{$spacingName}-#{$name} {
          #{$rule}: #{$value};
        }
      }

      @else {
        &.#{$spacingName}-#{$name} {
          #{$rule}: #{$value};
        }
      }
    }
  }

  @each $spacingName, $rule in $margins {
    @each $name, $value in $sizes {
      @if map-has-key($oldSizes, $name) {
        $oldSizesForName: map-get($oldSizes, $name);


        @if type-of($oldSizesForName) == 'list' {
          $selectorList: null;

          @each $oldSize in $oldSizesForName {
            $selectorList: append($selectorList, unquote("&.#{$spacingName}-#{$oldSize}"), comma);
          }

          #{$selectorList},
          &.#{$spacingName}-#{$name} {
            #{$rule}: #{$value};
          }

        }
        @else {
          &.#{$spacingName}-#{$name},
          &.#{$spacingName}-#{map-get($oldSizes, $name)}{
            #{$rule}: #{$value};
          }
        }
      }

      @else {
        &.#{$spacingName}-#{$name} {
          #{$rule}: #{$value};
        }
      }
    }

    &.#{$spacingName}-auto {
      #{$rule}: auto;
    }
  }

  $flexDirections: (
    "column",
    "row",
    "column-reverse",
    "row-reverse",
  );

  @each $direction in $flexDirections {
    &.flexDirection-#{$direction} {
      flex-direction: unquote($direction);
    }
  }

  $flexAligns: (
    "stretch",
    "center",
    "start",
    "end",
    "flex-start",
    "flex-end",
    "baseline",
  );

  @each $alignment in $flexAligns {
    &.alignItems-#{$alignment} {
      align-items: unquote($alignment);
    }
  }


  $flexJustifies: (
    "center",
    "start",
    "end",
    "flex-start",
    "flex-end",
    "left",
    "right",
    "space-between",
    "space-around",
    "space-evenly",
    "stretch"
  );

  @each $justification in $flexJustifies {
    &.justifyContent-#{$justification} {
      justify-content: unquote($justification);
    }
  }

  $flexWraps: (
    "nowrap",
    "wrap",
    "wrap-reverse",
  );

  @each $wrap in $flexWraps {
    &.flexWrap-#{$wrap} {
      flex-wrap: unquote($wrap);
    }
  }
}
